.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  max-width: 1800px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  flex-direction: column; /* Stack label and input/dropdown vertically */
  align-items: flex-start; /* Align items to the start */
  margin-bottom: 15px;
  width: 900px;
}

#form-row label {
  display: inline-block;
  margin-bottom: 10px; /* Add space below the input/dropdown */
  width: 900px; /* Make input and dropdown take full width */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

select, input[type="text"], input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px; /* Add space below the input/dropdown */
  width: 900px; /* Make input and dropdown take full width */
  max-width: 900px; /* Set a fixed max-width for inputs and dropdowns */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

.form-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #45a049;
}

.results-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
  display: flex;
}
